{% extends "layout.twig" %}

{% block content %}

<h2 title="Compétences">Compétences</h2>

<article class="cadre">
    <header>
        <h2>Compétences techniques</h2>
    </header>
    <ul>
        <li><u>Langage</u> : <br><b style="margin-left:30px;">Java, Objectif-C, Ada</b>, Python, C, C++, Lisp<br><br></li>
        <li><u>Langage WEB</u> : <br><b style="margin-left:30px;">HTML, JavaScript (AJAX), PHP, CSS, SQL, J2E (JSP, Struts, Hibernet)</b>, SMARTY, PEAR<br><br></li>
        <li><u>Environnement de développement</u> : <br><b style="margin-left:30px;">GPS-Ada, Eclipse, Xcode</b>, Visual Studio 2005 et 2008, Dev C++, Vi (Unix)<br><br></li>
        <li><u>Système d’exploitation</u> : <br><b style="margin-left:30px;">Windows, Linux (debian), Mac OS</b>, Unix<br><br></li>
        <li><u>Base de données</u> : <br><b style="margin-left:30px;">PostgreSQL, MySQL</b>, Oracle<br><br></li>
        <li><u>Versionning</u> : <br><b style="margin-left:30px;">SVN, GIT</b>, CVS, ClearCase<br><br></li>
        <li><u>Framework JavaScript</u> : <br><b style="margin-left:30px;">jQuery</b>, Scriptaculous, prototype, Raphaël<br><br></li>
        <li><u>Logiciels Open-Source utilisés</u> : <br><b style="margin-left:30px;">Wordpress, Piwik, Jenkins ex-Hudson, Artifactory</b>, Android, TYPO3<br><br></li>
    </ul>
</article>

<article class="cadre">
    <header>
        <h2>Compétences fonctionnelles</h2>
    </header>
    <ul>
        <li>Conduite de projet fonctionnel et technique</li>
        <li>Notion d’Urbanisme des SI, modélisation (processus, architecture)</li>
        <li>Administrateur système depuis 2005 pour diverses petites entreprises ou association.</li>
    </ul>
</article>

{% endblock %}