{% extends "layout.twig" %}

{% block content %}

<h2 title="Divers">Divers</h2>

<article class="cadre">
    <header>
        <h2>Participation aux conférences :</h2>
    </header>
    <p>[20 octobre 2011] <br>- Développement PHP : <a href="http://www.smile.fr/Actualites/Nos-evenements/MEET-OSS-3">le défi de l'industrialisation</a>. (Smile)</p>
    <p>[19 octobre 2011] <br>- Richard Stallman : <a href="http://www.libertesnumeriques.net/evenements/stallman-19octobre2011">Une société des réseaux libérée</a> (Sciences Po)</p>
    <p>[30 mars 2011] <br>- <a href="http://www.smile.fr/Actualites/Nos-evenements/MEET-OSS-3">Développement mobile multiplateforme, les frameworks open source</a>. (Smile)</p>
    <p>[30 novembre 2010] <br>- Présentation des concepts de GIT par Sébastien Douche pendant 3h.</p>
</article>

<article class="cadre">
    <header>
        <h2>Abonnements magazines :</h2>
    </header>
    <p><a href="http://www.unixgarden.com/index.php/category/gnu-linux-magazine">GNU/Linux Magazine France</a> : abonné depuis novembre 2010</p>
    <p><a href="http://www.science-et-vie.com">Science et vie</a> : abonné depuis juin 2005</p>
</article>

<article class="cadre">
    <header>
        <h2>Langues</h2>
    </header>
    <p>Anglais (lu)</p>
</article>

<article class="cadre">
    <header>
        <h2>Loisirs</h2>
    </header>
    <ul>
        <li>Open source (Ladistribution, owncloud),
        <li>Musique (Trompette, Didgeridoo),
        <li>Sports (Escalade, Ski, Snowbord, Kitesurf),
        <li>Voyages (Egypte, Maroc, Croatie, Angleterre et prochainement Etats-Unis pendant 1 mois)
    </ul>
</article>

{% endblock %}