{% extends "layout.twig" %}

{% block title 'Expériences' %}

{% block content %}

<h2 title="Expériences">Expériences</h2>

<article class="cadre">
    <header>
        <h2>Depuis janvier 2010 - Infotel</h2>
    </header>
    <h3>Mission iOS</h3>
    <p>
        Création de la première application iPhone de l’entreprise (<a href="http://itunes.apple.com/fr/app/infotel-mobile/id427181959">Infotel mobile</a>).<br>
        Création importante de documentation pour l’étude de mise en place d’un pôle iPhone (finalement le projet a migré à Toulouse).<br>
        Création de deux applications prototypes iPad pour Infotel et pour Airbus. Mise en place d’un serveur d’intégration continue sous Jenkins permettant de tester les interfaces d’iOS. Ainsi que l’ensemble de la documentation pour créer les différents scénarios.<br>
        <b>Technologies</b> : Objectif-C sous Xcode, Test de PhoneGap, Jenkins, Automations (Xcode)<br>
        <b>Référence</b> : Direction technique Pierre GAIGNARD
        <a href="#" onmouseover="this.innerHTML=this.innerHTML.replace('.XX.', '.19.').replace('.XX', '.46');"
           onmouseout="this.innerHTML=this.innerHTML.replace('.19.', '.XX.').replace('.46', '.XX');">01.55.62.XX.XX
        </a>
        <br><br>
    </p>
    <h3>Mission Java/J2E</h3>
    <p>
        - Chef de projet junior sur un projet pour PSA (Gestion de 3 personnes). Refonte total d'un site WEB pour la gestion de prêt en ligne. Mise en place du premier module MyPeugeot, MyCitroen externe. Le module permet la gestion de ses prêts pour l’Espagne, l’Italie, le Portugal, l’Angleterre. Avec une gestion de la sécurité accrue.<br>
        <b>Technologies</b> : Java/J2E(Struts, Spring, LEGO framework PSA), Oracle, GlassFish, Typo3, xmlbeans<br>
        <b>Référence</b> : Directeur projets informatique Eric THOMAS
        <a href="#" onmouseover="this.innerHTML=this.innerHTML.replace('.XX.', '.61.').replace('.XX', '.47');"
           onmouseout="this.innerHTML=this.innerHTML.replace('.61.', '.XX.').replace('.47', '.XX');">06.76.45.XX.XX
        </a>
    </p>
    <p>
        - Création d'une maquette d'un coffre fort numérique en HTML5, CSS3, jQuery. Création du socle technique (Java/J2E) et intégration de la maquette. Mise en place du premier dépôt GIT de l'entreprise ainsi que sont intégration continue (Jenkins). Déploiement automatique.<br>
        <b>Technologies</b> : HTML5, CSS3, Java/J2E (tiles, hibernate, Spring 3), maven, GIT, Jenkins, Artifactory, Sonar<br>
        <b>Référence</b> : Chef de projet <a href="" onmouseover="this.href='mailto:' + this.innerHTML.replace(' ', '.') + '@infotel.com'; this.title=this.href" onmouseout="this.href='';this.title=''">Angelo LUCCHESE</a>
    </p>
</article>

<article class="cadre">
    <header>
        <h2>Avril à Septembre 2009 - Thales Communication</h2>
    </header>
    <p>Stage de fin d’études à Thales Communication à Colombes.<br>
        Développement d’un framework de vérification de code en Ada et son intégration dans l’environnement d’une équipe de 50 personnes. La création de graphique permet de voir l’évolution des erreurs sur l’ensemble du code du produit ayant 1.000.000 lignes de codes.<br>
        <b>Technologies</b> : Ada, AdaCtl, Ada Web Server, Javascript (jQuery)<br>
        <b>Référence</b> : Tuteur de stage David SAUVAGE architecte
        <a href="#" onmouseover="this.innerHTML=this.innerHTML.replace('.XX.', '.23.').replace('.XX', '.89');"
           onmouseout="this.innerHTML=this.innerHTML.replace('.23.', '.XX.').replace('.89', '.XX');">06.86.72.XX.XX
        </a>
    </p>
</article>

<article class="cadre">
    <header>
        <h2>Juin à Août 2008 - Thales Communication</h2>
    </header>
    <p>Stage au sein de l’entreprise Thales Communication à Colombes.<br>
        Développement d’un outil de gestion de documents pré-projet. La réalisation permettant de faciliter, de sécuriser la création et la consultation du plan de développement logiciel ou SDP (Software Developement Plan).<br>
        <b>Technologies</b> : HTML, Javascript (jQuery), CSS
    </p>
</article>

<article class="cadre">
    <header>
        <h2>Juin à Août 2007 - MadeInWork</h2>
    </header>
    <p>Développeur web chez <a href="http://www.madeinwork.com">MadeInWork</a> à Bordeaux<br>
        <b>Mission</b> : Réalisation d‘un site WEB multi-langue pour la création et le partage de quiz en ligne. Le projet a été fait en PHP objet. <a href="http://www.ekizz.com">www.ekizz.com</a><br>
        <b>Technologies</b> : PHP, MYSQL, HTML, CSS, JavaScript (AJAX), SMARTY, PEAR, SUBVERSION<br>
        <b>Référence</b> : Tuteur de stage Vincent SABOURDY responsable technique de MadeInWork
        <a href="#" onmouseover="this.innerHTML=this.innerHTML.replace('.XX.', '.24.').replace('.XX', '.54');"
           onmouseout="this.innerHTML=this.innerHTML.replace('.24.', '.XX.').replace('.54', '.XX');">06.60.34.XX.XX
        </a>
    </p>
</article>

<article class="cadre">
    <header>
        <h2>Février à Mars 2006 - Atelier du Zinc</h2>
    </header>
    <p>Stage au sein de l’entreprise Atelier du Zinc à Marseille<br>
        <b>Mission</b> : analyse des besoins et création d’un cahier des charges pour la réalisation d’un logiciel de gestion de clients/fournisseurs, création de devis/factures. Le projet a été effectué avec la technologie Microsoft VisualBasic.NET et la sauvegarde des données est en XML.<br>
        <b>Technologies</b> : VB.NET</p>
</article>

<article class="cadre">
    <header>
        <h2>Juin 2005 - Atelier du Zinc</h2>
    </header>
    <p>Stage au sein de l’entreprise Atelier du Zinc à Marseille<br>
        <b>Mission</b> : Réalisation d’une administration de leur site WEB. <a href="http://www.atelierzinc.com">www.atelierzinc.com</a><br>
        <b>Technologies</b> : PHP, MYSQL, HTML, CSS
    </p>
</article>

<article class="cadre">
    <header>
        <h2>Avril 2005 - Golf de Bourganeuf</h2>
    </header>
    <p>Développeur Web dans le cadre des activités professionnelles du BTS<br>
        <b>Mission</b> : Création d’un site WEB pour un golf avec une interface d’administration pour la gestion des photos et du calendrier de l’association. www.golfbourganeuf2000.com (Le site a changé fin 2011)<br>
        <b>Technologies</b> : PHP, MYSQL, HTML, CSS
    </p>
</article>

{% endblock %}