{% extends "layout.twig" %}

{% block content %}

<h2 title="Compétences">Projet perso.</h2>

<article class="cadre">
    <header>
        <h2>Aout 2011 - Laborock & Co</h2>
    </header>
    <p>
        Création du site <a href="http://www.laborock.org">www.laborock.org</a> pour l’association CELESTE.<br>
        Utilisation de Wordpress. Création d’un plugin pour la newsletter. Design avec du CSS3 pour les navigateurs modernes. Mise en place d’un site de mesure de statistiques web : Piwik.<br>
        <b>Technologies</b> : Wordpress, PHP, CSS3, HTML, JavaScript (jQuery), Piwik
    </p>
</article>

<article class="cadre">
    <header>
        <h2>Novembre 2010 - Photobeaubourg</h2>
    </header>
    <p>
        Création du site <a href="http://www.photobeaubourg.com">www.photobeaubourg.com</a> pour un magasin de vente d’appareil photo spécialisé dans la marque Nikon. Mise en place d’une administration simple pour la gestion des bandeaux, des articles ainsi que des différentes sections.<br>
        <b>Technologies</b> : PHP (Framework maison), HTML, CSS, JavaScript (jQuery), Piwik
    </p>
</article>

<article class="cadre">
    <header>
        <h2>Mars 2010 - L'Entière Compagnie</h2>
    </header>
    <p>
        Création du site <a href="http://www.lentierecompagnie.org">www.lentierecompagnie.org</a> pour une troupe de théâtre. Mise en place d’un design très particulier en JavaScript avec Raphaël (Animation, AJAX). Intégration de Piwik.<br>
        <b>Technologies</b> : Wordpress, PHP, CSS3, HTML, JavaScript (jQuery, Raphaël), Piwik
    </p>
</article>

<article class="cadre">
    <header>
        <h2>Janvier à Mars 2008 - AMPLI Mutuelle</h2>
    </header>
    <p>
        Concepteur d’un jeu en flash chez AMPLI Mutuelle<br>
        Réalisation d‘un jeu vidéo en Flash avec étude préalable, choix technique, gestion de projet (2 développeurs et 1 graphiste) www.jeux.ampli.fr (le site n’est plus en ligne)<br>
        <b>Technologies</b> : FLASH, HTML, CSS
    </p>
</article>

{% endblock %}