{% extends "layout.twig" %}

{% block title 'Formations' %}

{% block content %}

<h2 title="Formations">Formations</h2>

<article class="cadre">
    <header>
        <h2>Septembre 2011</h2>
    </header>
    <p>« Auto-Formation sur la mise en place d'une plateforme d'intégration continue ». <b>Infotel</b></p>
</article>

<article class="cadre">
    <header>
        <h2>Septembre et octobre 2010</h2>
    </header>
    <p>« Auto-Formation sur le développement d'application iOS iPhone et iPad ». (2 mois) <b>Infotel</b></p>
</article>

<article class="cadre">
    <header>
        <h2>Janvier 2010</h2>
    </header>
    <p>Diplome : <b>Certification Web-To-Data</b></p>
    <p>« Formation d'un mois sur le développement JAVA/J2E ». <b>Infotel</b></p>
</article>

<article class="cadre">
    <header>
        <h2>2006 – 2009</h2>
    </header>
    <p>Diplome : <b>Expert en Informatique et Systèmes d'Information</b> (BAC +5)</p>
    <p>Cycle supérieur d’ingénierie Option Génie Logiciel à l'<a href="http://www.epsi.fr">EPSI</a> (Ecole Privée des Sciences Informatiques) à Bordeaux puis Paris</p>
    <p>Présentation d’un mémoire après le stage de 6 mois de fin d’étude à Thales Communication sur les méthodes de travail Agiles.</p>
</article>

<article class="cadre">
    <header>
        <h2>2004 – 2006</h2>
    </header>
    <p>Diplome : <b>BTS Informatique de Gestion</b> Option Développement (BAC +2)</p>
</article>

<article class="cadre">
    <header>
        <h2>2003 – 2004</h2>
    </header>
    <p>Diplome : <b>Baccalauréat Scientifique</b> Option Mathématique.</p>
</article>

{% endblock %}