@font-face {
    font-family: 'enemyregular';
    src: url('../font/enemy/enemy-webfont.eot');
    src: url('../font/enemy/enemy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/enemy/enemy-webfont.woff') format('woff'),
    url('../font/enemy/enemy-webfont.ttf') format('truetype'),
    url('../font/enemy/enemy-webfont.svg#enemyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
