// http://pltts.me/palettes/623761

@color1: #F6F6F6;
@color2: #E8E8E8;
@color3: #333333;
@color4: #990100;
@color5: #B90504;

@articleBgColor: fade(@color2, 90%);
@articleColor: @color5;

@phoneWidthSize: 640px;
@tabletWidthSize: 1024px;
