<header>
    <nav>
        <ul id="menu" class="cadre">
            <li class="actif"><a href="index.html">Accueil</a></li>
            <li class="rouge"><a href="experiences.html">Expériences</a></li>
            <li class="vert"><a href="experiperso.html">Expéri. perso.</a></li>
            <li class="bleu"><a href="formations.html">Formations</a></li>
            <li class="violet"><a href="competences.html">Compétences</a></li>
            <li class="rose"><a href="divers.html">Divers</a></li>
        </ul>
    </nav>
</header>